/* Estilos globales */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Color de fondo claro */
  color: #212529; /* Color de texto oscuro */
}

/* Estilo para el contenedor principal */
.App {
  text-align: center;
  padding: 20px;
}

/* Encabezados */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

/* Enlaces */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Botones */
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Clases de utilidad */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Clase para añadir padding superior cuando se usa una Navbar fija */
.page-container-for-fixed-nav {
  padding-top: 100px; /* Ajusta este valor a la altura real de tu Navbar */
}